.resource-state-at_station {
    background-color: darkgreen;
    color: white;
}

.resource-state-available {
    background-color: greenyellow;
    color: black;
}

.resource-state-out_of_service {
    background-color: orange;
    color: black;
}

.resource-state-reserved {
    background-color: deeppink;
    color: black;
}

.resource-state-dispatched {
    background-color: orangered;
    color: white;
}

.resource-state-en_route {
    background-color: yellow;
    color: black;
}

.resource-state-on_scene {
    background-color: dodgerblue;
    color: white;
}
